:root {
    --gray-00: #ffffff;
    --gray-05: #f5f6f7;
    --gray-15: #d0d0d5;
    --gray-75: #3b3b4f;
    --gray-85: #1b1b32;
    --gray-90: #0a0a23;
    --blue-50: #198eee;
    --error: #a94442;
    --danger-color: #850000;
    --danger-background: #ffadad;
  }

  *,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 50px 20px;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: var(--gray-85);
    color: var(--gray-05);
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.image-logo {
    max-height: 150px;
    max-width: 300px%;
    margin: auto;
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 5px auto;
    max-width: 360px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form {
    color: var(--gray-00);
    margin: auto;
    padding: 15px auto;
    border: 3px solid var(--gray-05);
    text-align: center;
    width: 100%;
    max-width: 500px;
    background-color: var(--gray-75);
    align-content: center;

}

fieldset {
    border: 0 none;
    height: 100%;
    padding: 25px;
    margin: 10px 20px;
  }

  label {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input {
    display: block;
    font-size: 2.4rem;
    width: 100%;
    height: 60px;
    margin: 10px auto;
    padding: 6px 12px;
    line-height: 1.4;
    color: var(--gray-00);
    border: 1px solid var(var(--gray-00));
    background-color: var(--gray-90);
  }

  button {
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    height: 60px;
    background-color: #664297;
    border: 1px solid #f9f9f9;
  }